p {
    color:crimson;
    font-family: ;
    border: ;
    margin: ;
    padding: ;


}

.bg{
    flex-direction: column-reverse;
}

.div{
    flexbox
    align-items:center;
}


.navbar{
    color: aliceblue;
}