.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}
.navbar-nav {
  font-size: 1.2rem;
  align-content: space-evenly;
  text-align: justify;
}
.col-md-6 {
    margin-bottom: 30px;
}
.card:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
.card-img-top {
    height: 300px;
    object-fit: cover;
}
/* Define the animation */
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
    100% { transform: translateY(0); }
  }
  
  /* Apply the animation to an element */
  .box {
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  h1{
    color:rgb(0, 0, 1);
  }

  p{
    color: #e8e8e8;
  }

  label{
    color:#e8e8e8
  }

  .invalid-feedback{
    color: rgb(255, 255, 255);
  }

  strong{
    color:black
  }

.card-text{
  color: black;
}


.mt-0 {
  margin-top: 0 !important;
}

.ms-1 {
  margin-left: ($spacer * .25) !important;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.p-3 {
  padding: $spacer !important;
}

.parent {
  display: flex;
  align-items: center;
}
